 <div class="row">
  <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="gallery-title">Product Range</h1>
  </div>

      {% for blog in site.data.blogposts %}
      <div class="gallery_product col-lg-12 col-md-12 col-sm-12 col-xs-12 filter {{ blog.section }}">
        <div class="panel panel-primary my-panel" >
          <div class="panel-heading"><a href = "{{ blog.url }}" target="_blank">{{ blog.title }}</a></div>
          <div class="panel-body">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <img src="{{ blog.img }}" class="img-responsive">
	    </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
               <p>{{ blog.description }}</p>
               <a class="btn btn-default filter-button" style="float:right;" role="button" href = "{{ blog.url }}" {% if blog.newpage %}target="_blank"{% endif %}>Read More</a>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}


  </div>


