<!DOCTYPE html>
	<html>
		<head>
		    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
		    {% include meta.html %}

			<title>Jithin : GSoC 2017</title>
			<meta charset="utf-8">
			
			<!-- core CSS -->
			
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
			<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
		</head>

<body class="homepage">

    <header id="header">
		<nav class="navbar navbar-inverse"  role="banner">
		  <div class="container-fluid">
			<div class="navbar-header pull-left">
			        <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><div class="site-avatar"><img src="{{ site.avatar }}" alt="avatar"></div></a>
			</div>
			<ul class="nav navbar-nav pull-left">
		      <div class="site-info">
		        <h1 class="site-name">{{ site.name }}</h1>
		        <p class="site-description">{{ site.description }}</p>
		      </div>
			</ul>

			<ul class="nav navbar-nav pull-right">
		        <li><a href="{{ site.baseurl }}/">Home</a></li>
		        <li><a href="{{ site.baseurl }}/about">About</a></li>
		        <li><a  target="_blank" href="https://www.indiamart.com/tritron-panel-meter/">IndiaMART</a></li>
			</ul>
		  </div>
		</nav>
	</header><!--/header-->

    <div class="container">

		{% if page.title %}
		<div class="center wow fadeInDown">
			<br><h2>{{ page.title }}</h2>
			<p class="lead"> {{ page.description }}</p>
		</div>    
		{% endif %}
		{{ content }}
    </div>


    <div class="footer navbar-fixed-bottom">
      <div class="container">
          {% include svg-icons.html %}
      </div>
    </div>

    {% include analytics.html %}

	</body>
</html>



